[package]
name = "zenoh-flow-python"
version = "0.4.0"
authors = ["ZettaScale Zenoh Team <zenoh@zettascale.tech>"]
categories = ["network-programming", "api-bindings"]
description = "Zenoh-Flow  Python APIs"
edition = "2018"
homepage = "https://github.com/ZettaScaleLabs/zenoh-flow-python"
license = " EPL-2.0 OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/ZettaScaleLabs/zenoh-flow-python"


[dependencies]
pyo3 = "0.16"
zenoh-flow-python-commons = { version = "0.4.0", path = "../zenoh-flow-python-commons/" }

[features]
abi-py37 = ["pyo3/abi3-py37"]
extension-module = ["pyo3/extension-module"]
default = ["extension-module", "abi-py37"]

[lib]
name = "zenoh_flow"
crate-type = ["cdylib"]
